# Credenciais do Banco do Gitea
GITEA_DB_USER=gitea
GITEA_DB_PASSWD=gitea
GITEA_DB_NAME=gitea

# Credenciais iniciais de Admin do Gitea
GITEA_ADMIN_PASSWD=admin

# Credenciais do Banco do SonarQube
SONAR_DB_USER=sonar
SONAR_DB_PASSWD=sonar
SONAR_DB_NAME=sonarqube
